

<div class="container" id="home-container">
    <div class="jumbotron text-center ">
        <h1 class="display-4">Alpha Blog</h1>
        <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia a recusandae officia laborum, officiis, consequatur voluptatibus hic delectus quisquam eaque quis vitae, cum soluta molestiae voluptatem repellendus magnam culpa facilis?</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur vero quas ullam illo cum. Quisquam minima mollitia fugit voluptatibus veniam.</p>
        <p class="lead">
            <%= link_to "Sign up!", signup_path, class: "btn btn-success btn-lg" %>
            
        </p>
    </div>
</div>



