<h1 class="text-center mt-4">Category listing</h1>

<div class="container">

    <% @categories.each do |category| %>
        <div class="row justify-content-md-center">
            <div class="col-8 mt-4">
                <div class="list-group text-center shadow mb-1 bg-white rounded">
                    <div class="list-group-item font-weight-bolder">
                        <%= link_to category.name, category %>
                    </div>
                    
                        
                    
                    <div class="card-footer text-muted">
                       <%= pluralize(category.articles.count, "article") %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
</div>

<div class="flickr_pagination my-4">
    
    <%= will_paginate @categories, :container => false %>
</div>
